@import url("./_mixins.scss");
@import url("./_variables.scss");

main{
   .principal{
    position: relative;
    top:12em;
        .title{
            height:3.06em ;
            @include flex-center();
            background-color: #0a0b0b;
            color: $icon_colors;
            font-size: 1.1em;
            width: 100%;
        }
        .carousel{
            height: 52.52em;
        }
   }
}